<!DOCTYPE html>
<html lang="es">

<head>
    <nav>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>No es mercado libre</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/necolas.github.io_normalize.css_8.0.1_normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://kit.fontawesome.com/de9dc32e2b.js" crossorigin="anonymous"></script>
    </nav>
</head>

<body>
    <header>
        <span class="top">
            <figure class="logo">
                <img width="320" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado LiEbre">
            </figure>
            <span class="barra">Aquí va una barra de búsqueda<i class="fa-solid fa-magnifying-glass"></i></span>
            <span><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
            </span>
        </span><br>

        <div>
            <span class="top2A">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </span><span class="top2b">
                <li><a href="">Creá tu cuenta<i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="">Ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </span>
        </div>
    </header>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>


    <main>
        <img src="/images/img-home-banner.jpg" alt="Banner del home">
        <div class="titular">Basado en tu última visita</div>
        <article class="producto">
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera marca Moulinex">
            <i class="fa-solid fa-truck"></i>
            <p class="price">Precio: $6.700</p>
            <p class="desc">Descuento: 40%</p>
            <p class="desc">Cafetera Moulineux</p> <br>
        </article>

        <article class="producto">
            <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
            <p class="price">Precio: $230.000</p>
            <p class="desc">Descuento: 20%</p>
            <p class="desc">MacBook Pro 2019</p> <br>
        </article>

        <article class="producto">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung Galaxy S10">
            <p class="price">Precio: $23.200</p>
            <p class="desc">Descuento: 10%</p>
            <p class="desc">Samsung Galaxy S10</p> <br>
        </article>

        <article class="producto">
            <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV Samsung 43 pulgadas">
            <p class="price">Precio: $6.760</p>
            <p class="desc">Descuento: 5%</p>
            <p class="desc">Smart TV Samsung 43''</p> <br>
        </article>

        <h3><strong>Sección de ofertas</strong></h3>

        <article class="producto">
            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera marca Moulinex">
            <p class="price"></p>>Precio: $6.700</p>
            <p class="desc">Descuento: 40%</p>
            <p class="desc">Cafetera Moulineux</p> <br>
        </article>

        <article class="producto">
            <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook Pro 2019">
            <p class="price"></p>>Precio: $230.000</p>
            <p class="desc">Descuento: 20%</p>
            <p class="desc">MacBook Pro 2019</p> <br>
        </article>

        <article class="producto">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Celular Samsung Galaxy S10">
            <p class="price"></p>>Precio: $23.200</p>
            <p class="desc">Descuento: 10%</p>
            <p class="desc">Samsung Galaxy S10</p> <br>
        </article>

        <article class="producto">
            <img src="/images/img-tv-samsung-smart.jpg" alt="Smart TV Samsung 43 pulgadas">
            <p class="price"></p>>Precio: $6.760</p>
            <p class="desc">Descuento: 5%</p>
            <p class="desc">Smart TV Samsung 43''</p> <br>
        </article>

    </main>

    <div>
        <footer>
            <nav class="navi">
                <ul type="none">
                    <i class="fa-solid fa-credit-card"></i>
                    <li>Pagá con tarjeta o en efectivo <br>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</li><br>
                    <i class="fa-solid fa-gift"></i>
                    <li>Envío gratis desde $ 2.500<br>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</li><br>
                    <i class="fa-solid fa-user-shield"></i>
                    <li>Seguridad, de principio a fin<br>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</li><br>
                    <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
                </ul>
            </nav>
        </footer>
    </div>

</body>

</html>